<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a> <a href="/skills">Skillset</a>
    <br/>
    <h2>Click X to delete skill:</h2>
    <form action="/skills/<%= skill.id %>?_method=DELETE"
      method="POST" class="delete-form"  
    >
      <button type="submit">X</button>
    </form>
    <h1>Skill <%= skillNum %></h1>
</body>
</html>